html{
    width: 350px;
    height: 500px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    padding: 20px;
    background: linear-gradient(to bottom, #fff2e6, #ffd699);.
    color: #6c584c;
}


#questionInput {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.7s ease-in-out forwards;
    transition: border-color 0.3s ease;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #dcdcdc;
    border-radius: 8px;
}

#questionInput:focus {
    border-color: #8c8c8c;
}

#messageContainer {
    overflow: overlay;
    animation: fadeIn 0.7s ease-in-out forwards;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 290px;
    padding: 10px;
    background-color: #fff8f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid #dcdcdc;
    bottom: 60px;
    right: 20px;
}

.userMessage {
    animation: fadeIn 0.7s ease-in-out forwards;
    max-width: 82%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    float: right;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffe4b5;
    transition: background-color 0.5s ease;
    border-radius: 8px;
    color: #333;
    font-size: 12px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.modelMessage {
    animation: fadeIn 0.7s ease-in-out forwards;
    max-width: 82%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #b5e7ff;
    transition: background-color 0.5s ease;
    border-radius: 8px;
    color: #333;
    font-size: 12px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.modelMessage:hover {
    background-color: #a2dfff;
}

.userMessage:hover {
    background-color: #FFD5B5;
}

#pageTitle {
    animation: fadeIn 0.7s ease-in-out forwards;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    transform: translateX(25%);
    color: #695642;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}